.box{
    height: 100px;
    width: 75px;
    overflow: auto;
    padding: 10px;
}
.box::-webkit-scrollbar{
    background:#eee ;
    width:7px;
    height: 7px;
    border-radius: 6px;
}

.box::-webkit-scrollbar-corner{
    background: transparent;
}

.box::-webkit-scrollbar-thumb{
    background: #333;
    border: #eee 2px solid;
    border-radius: 6px ;
}